.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  width: 500px;
  height: 500px;
}

.frame .overlap-group {
  position: relative;
  height: 500px;
  background-image: url(./img/istock-1400790908-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .text-wrapper {
  position: absolute;
  width: 328px;
  height: 64px;
  top: 145px;
  left: 86px;
  font-family: "Beatrice Trial-Semibold", Helvetica;
  font-weight: 400;
  color: #323232;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  position: absolute;
  width: 330px;
  height: 101px;
  top: 187px;
  left: 85px;
  font-family: "Beatrice Trial-Semibold", Helvetica;
  font-weight: 400;
  color: #323232;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
